:host {
    border: 0 solid #8c1aff;
    /* background-color:  #5c5c8a; */
    /* #e1e1e1;  #a366ff*/
    border-width: 2px;
    border-radius: 5px;
    height: 45px;
    /* padding: 0 10px; */

    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 6px;
    margin-left:19px;
    margin-right: 19px;
  }

  a {
    /* color: #c697d8; */
    color: #8c1aff;
    font-size: 19px;
    font-weight: 500;
    line-height: 49px;
    /* margin-right: 27px; */
    float: left;
    text-align: center;
    padding: 0 14px;
    text-decoration: none;
  }

  .active {
    background-color: #8c1aff;
    color: white;
  }

  a:hover {
    color: #4f0099;
    font-weight: 600;
  }