<div class="mainDiv">
    <mat-card id="card">
        <h1 style="text-align: center;">
            Add new comment
        </h1>
        <form [formGroup]="addCommentForm" (ngSubmit)="onSubmit()" class="commentForm">

            <div style="grid-row: 1; grid-column: 2; text-align: center;">
                <mat-form-field appearance="standard" class="textForm">
                    <mat-label>Your remarks</mat-label>
                    <textarea matInput rows="3" placeholder="Write your comment" formControlName="text"></textarea>
                    <mat-error *ngIf="addCommentForm.get('text')?.hasError('required')">
                        Some input is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div style="grid-row: 2; grid-column: 2; text-align: center;">
                <h2 style="margin-top: 2em;">Where have you seen the dog?</h2>
                <mat-form-field appearance="standard" style="margin-right: 2em; margin-top: 0em;">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Enter city" formControlName="locationCity"> 
                    <mat-error *ngIf="addCommentForm.get('locationCity')?.hasError('required')">
                        City is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard" style="margin-top: 0em;">
                    <mat-label>District</mat-label>
                    <input matInput placeholder="Enter district" formControlName="locationDistrict"> 
                    <mat-error *ngIf="addCommentForm.get('locationDistrict')?.hasError('required')">
                        District is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div style="grid-row: 3; grid-column: 2; text-align: center; margin-top: 5em;">
                <button mat-raised-button type="submit" [disabled]="!addCommentForm.valid">
                    Submit
                </button>
                <button mat-raised-button (click)="onCancel()" style="margin-left: 2em;">
                    Cancel
                </button>
            </div>
    
            <!-- <div style="grid-row-start: 1; grid-row-end: 4; grid-column: 1;"> -->
            <div style="height: 250px; grid-column: 1;">
                <mat-card class="images-list">
                    <h2>Would you like to upload a photo of the dog you have seen?</h2>
                    <img [src]="url" id="dog_img" style="position:relative; max-height: 80%; max-width:80%;">
    
                    <!-- <span>Select Image</span> -->
                    <button #file mat-raised-button class="upload-button">Upload
                        <input type="file" accept="image/png, image/jpeg" (change)="processFile($event)" 
                        class="img-input"/>
                    </button>
                </mat-card>
            </div>
        </form>
    </mat-card>
</div>
