<app-navbar></app-navbar>
<div class="home-page"> 
    <div class="container">
        <h1>Welcome, User!</h1>
        <div>
            <button mat-raised-button (click)="onClick()">Register Lost Dog</button>
            <button mat-raised-button >Edit Contact Info</button>
        </div>
    </div>
    <h2 style="margin-left: 12px;">This site is under development. Your current options are limited.</h2>
    
    <mat-card>
        <div class="grid">
            <div class="list-container">
                <ul>
                    <li class="list-item" *ngFor="let lostdog of lostDogs">
                        <label>{{lostdog.name}}</label>
                    </li>
                </ul>
            </div>
            <div class="images">
                
            </div>
        </div>
    </mat-card>
</div>

