.home-page {
    padding: 3px 19px;
    margin-top:20px;
}
.container {
    display:flex;
    justify-content:space-between;
    margin-left: 12px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:    1fr;
}
div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.images {
    float:right;
    /* background-image: url('/assets/webBackground.jpg');; */
}
.mat-raised-button {
    margin-left: 10px;
}
.mat-list-item {
    float: left;
    display: list-item;
}