<app-navbar></app-navbar>
<div class="home-page"> 
    <div class="container">
        <h1>Welcome, User!</h1>
        <div>
            <button mat-raised-button (click)="onClick()">Register Lost Dog</button>
            <button mat-raised-button >Edit Contact Info</button>
        </div>
    </div>
    <h2 style="margin-left: 12px;">This site is under development. Your current options are limited.</h2>
    
    <mat-card>
        <div class="grid">
            <div >
                <mat-list class="inline-list">
                    <mat-list-item role="listitem"> Pepper </mat-list-item>
                    <mat-list-item role="listitem"> Fluffy </mat-list-item>
                    <mat-list-item role="listitem"> Rex </mat-list-item>
                </mat-list>
            </div>
            <div class="images">
                
            </div>
        </div>
    </mat-card>
</div>

