.home-page {
    padding: 3px 19px;
    margin-top:20px;
}
.container {
    display:flex;
    justify-content:space-between;
    margin-left: 12px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:    1fr;
}
div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.images-list {
    height: 85% !important; 
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
}
.item-grid {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 30px;
    margin-top: 50px;
}

.mat-raised-button {
    margin-left: 10px;
}
.mat-list-item {
    float: left;
    margin-bottom: 20px;
    border-style: outset;
    min-height: 100px;
    flex-direction: column;
    justify-content:stretch;
}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content:first baseline;
    /* border: 0 solid black; */
    border-radius: 6px;
    border-width: 1px;
    background-color:#f0e6ff;
    padding: 5px;
    margin-left: -30px;
    margin-bottom: 10px;
}

.list-button {
    margin-top: 50px;
    margin-bottom: auto;
    padding-left: 8px;
    position: absolute;
    right: 20px;
}
.list-button2 {
    margin-top: 50px;
    margin-bottom: auto;
    padding-left: 8px;
    position: absolute;
    right: 180px;
}
.register-button {
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 30px;
}

.lost-label {
    font-size: 24px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: auto;
    margin-bottom: auto;
    color: red;
}