<app-navbar></app-navbar>
<div class="filter-page">
    <h2>This is the list of all dogs registered in our system. If you have seen any of the pups from the list, 
        please leave a comment with the location you spotted the dog at. This way you can notify the owner
        and help them find their lost pupils!</h2>

    <div class="grid">
        <mat-card>
            <form [formGroup]="sortingForm" (ngSubmit)="onSortClick()" class="sorting-grid">
                <h1 style="text-align: center;">Sorting</h1>
                <div class="filter-row">
                    <Label>Sort by</Label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="sort" (selectionChange)="onOptionSetChangedHandler($event, 'sort')" placeholder="Dog feature">
                            <mat-option *ngFor="let feature of sortFeatures" [value]="feature.value">
                                {{feature.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="filter-row">
                    <Label style="margin-right:20px;">Order</Label>
                    <mat-radio-group aria-label="Select sorting option" formControlName="option">
                        <mat-radio-button value="ASC">Ascending</mat-radio-button>
                        <mat-radio-button value="DESC">Descending</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="filter-row">
                    <button mat-raised-button class="filter-button-left" type="submit">Sort</button>
                    <button mat-raised-button class="filter-button-right" (click)="onClearSortForm()">Cancel</button>
                </div>
            </form>
            
            <h1 style="text-align: center;">Filters</h1>
            <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" class="filter-grid">
                <div class="filter-row">
                    <Label>Name</Label>
                    <mat-form-field  appearance="outline">
                        <input type="text" matInput maxlength="100" formControlName="name" placeholder="Name">
                    </mat-form-field>
                </div>
                <div class="filter-row">
                    <Label>Breed</Label>
                    <mat-form-field  appearance="outline">
                        <input type="text" matInput maxlength="50" formControlName="breed" placeholder="Breed">
                    </mat-form-field>
                </div>
                <div class="filter-row">
                    <Label>Age</Label>
                    <mat-form-field  appearance="outline">
                        <input type="number" min="1" matInput formControlName="ageFrom" placeholder="From">
                    </mat-form-field>
                </div>
                <div class="filter-row">
                    <Label>Age</Label>
                    <mat-form-field  appearance="outline">
                        <input type="number" min="1" matInput formControlName="ageTo" placeholder="To">
                    </mat-form-field>
                </div>
                <div class="filter-row">
                    <Label>Size</Label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="size" (selectionChange)="onOptionSetChangedHandler($event, 'size')" placeholder="Size">
                            <mat-option *ngFor="let size of dogSizes" [value]="size">
                                {{size}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="filter-row">
                    <Label>Color</Label>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="color" (selectionChange)="onOptionSetChangedHandler($event, 'color')" placeholder="Color">
                            <mat-option *ngFor="let color of dogColors" [value]="color">
                                {{color}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="filter-row">
                    <Label>City</Label>
                    <mat-form-field  appearance="outline">
                        <input type="text" matInput maxlength="100" formControlName="locationCity" placeholder="City">
                    </mat-form-field>
                </div>
                <div class="filter-row">
                    <Label>District</Label>
                    <mat-form-field  appearance="outline">
                        <input type="text" matInput maxlength="100" formControlName="locationDistrict" placeholder="District">
                    </mat-form-field>
                </div>
                <div class="filter-row">
                    <Label>Lost before</Label>
                    <mat-form-field  appearance="outline" style="width:200px;">
                        <input matInput [matDatepicker]="picker" formControlName="dateLostBefore" placeholder="Date before">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="filter-row">
                    <Label>Lost after</Label>
                    <mat-form-field  appearance="outline" style="width:200px;">
                        <input matInput [matDatepicker]="picker1" formControlName="dateLostAfter" placeholder="Date after">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="filter-row" style="margin-top: 15px;">
                    <button mat-raised-button class="filter-button-left" type="submit">Apply</button>
                    <button mat-raised-button class="filter-button-right" (click)="onClearForm()">Clear</button>
                </div>
            </form>
        </mat-card>

        <mat-card style="margin-left: 15px;">
            <h1 style="text-align: center;">Lost Dogs registered in the system</h1>
            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" 
            [length]="lostDogs?.length" (page)="getPaginatorData($event)" pageSize="10">
            </mat-paginator>
            <mat-list dense class="mat-list">
                <mat-list-item *ngFor="let lostdog of lostDogs | slice: minValue : maxValue">
                    <img [src]="'data:' + lostdog.picture!.fileType + ';base64,' + lostdog.picture!.data" width=100 max-height=150
                    style="margin-top: 60px;">
                    <mat-label class="item-label">{{lostdog.name}} ({{lostdog.breed}}),</mat-label>
                    <mat-label class="item-label">Lost on {{lostdog.dateLost | date:'dd-MM-yyyy'}}</mat-label>
                    <button mat-raised-button class="list-button" disabled="True">
                        Comment
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>
