<div class="details-page" *ngIf="lostDog">
    <div class="grid">
        <h1 style="font-size: 36px; text-align: center;">{{lostDog.name}}</h1>
        <div></div>
        <mat-card class="container">
            <img [src]="url" id="dog_img" class="dog-image">
        </mat-card>
        <mat-card style="margin-left: 45px;">
            <div class="info-grid">
                <div class="info-column">
                    <h3>Breed: {{lostDog.breed}}</h3>
                    <h3>Age: {{lostDog.age}}</h3>
                    <h3>Size: {{lostDog.size}}</h3>
                    <h3>Color: {{lostDog.color}}</h3>
                    <h3>Hair Length: {{lostDog.hairLength}}</h3>
                    <h3>Ears Type: {{lostDog.earsType}}</h3>
                    <h3>Tail Length: {{lostDog.tailLength}}</h3>
                </div>
                <div class="info-column">
                    <h3 style=" color: red;">Lost on: {{lostDog.dateLost}}</h3>
                    <h3></h3>
                    <h3>City: {{lostDog.location.city}}</h3>
                    <h3>District: {{lostDog.location.district}}</h3>
                    <h3></h3>
                    <h3>Special Marks: {{lostDog.specialMark}}</h3>
                    <h3>Behaviour: {{lostDog.behaviors}}</h3>
                    <button mat-raised-button (click)="onBackToListClick()" class="button1">
                        <mat-icon>arrow_back</mat-icon> Back
                    </button>
                    <button mat-raised-button (click)="onAddCommentClick()" class="button1">
                        <mat-icon>add_comment</mat-icon> Comment
                    </button>
                </div>
            </div>
        </mat-card>

        <div *ngIf="isAddingComment" class="comment-section">
            <app-lost-dog-comment [lostDogID]="lostDogID" (onSubmitComment)="onSubmitComment()"
                (onCancelComment)="onCancelComment()"></app-lost-dog-comment>
        </div>

        <div class="comment-section">
            <h1 class="comment-label">Comment Section</h1>
            <mat-list>
                <mat-list-item *ngFor="let comment of lostDog.comments">
                    <div style="margin-top: 30px;">
                        Seen by: {{comment.author.name}}. Contact: {{comment.author.email}} or {{comment.author.phoneNumber}}.<br>
                        City: {{comment.location.city}}. District: {{comment.location.district}}.<br>
                        Remarks: {{comment.text}}
                    </div>
                    <button mat-raised-button *ngIf="comment.author.id === userId" (click)="deleteComment(comment.id)"
                        style="position: absolute; right: 20px;">
                        <mat-icon>delete</mat-icon> Delete
                    </button>
                    <img *ngIf="comment.picture" 
                        [src]="'data:' + comment.picture!.fileType + ';base64,' + comment.picture!.data" width=100 height="85x"
                        style="position: absolute; right: 200px; margin-top: 50px;">
                </mat-list-item>
            </mat-list>
        </div>
        
    </div>
</div>

