<app-navbar></app-navbar>
<div class="shelters-page">
    <h2>This is the list of all shelters registered in our system.</h2>

    <div class="grid">
        <mat-card style="margin-left: 15px;">
            <h1 style="text-align: center;">Shelters registered in the system</h1>
            <h2 *ngIf="shelters?.length == 0" style="text-align: center;">No results</h2>
            <mat-list dense class="mat-list">
                <mat-list-item *ngFor="let shelter of shelters">
                    <img src="/assets/animal.jpg" width=100 max-height=150 style="margin-top: 60px;">
                    <div class="item-grid">
                        <label style="font-size: 20px; margin-top: 10px;">{{shelter.name}} </label>
                        <label style="font-size: 20px; margin-top: 12px;">
                            {{shelter.address.city}}, {{shelter.address.street}} {{shelter.address.buildingNumber}}
                        </label>
                    </div>
                    <button mat-raised-button (click)="onViewShelterClick(shelter.id!)" class="list-button">
                        <mat-icon>info</mat-icon> View
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>