<app-navbar></app-navbar>
<div class="shelters-page">
    <h2>This is the list of all shelters registered in our system.</h2>

    <div class="grid">
        <mat-card style="margin-left: 15px;">
            <h1 style="text-align: center;">Shelters registered in the system</h1>
            <h2 *ngIf="shelters?.length == 0" style="text-align: center;">No results</h2>
            <mat-list dense class="mat-list">
                <mat-list-item *ngFor="let shelter of shelters">
                    <mat-label class="item-label">{{shelter.name}}</mat-label>
                    <!-- <button mat-raised-button class="list-button" disabled="True">
                        Comment
                    </button> -->
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>