:host {
    border: 0 solid #7575a3;
    background-color:  #5c5c8a;
    /* #e1e1e1;  #a366ff*/
    border-width: 1px;
    border-radius: 5px;
    height: 45px;
    padding: 0 16px;

    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 6px;
    margin-left:19px;
    margin-right: 19px;
  }

  a {
    /* color: #c697d8; */
    color: white;
    font-size: 19px;
    font-weight: 550;
    line-height: 49px;
    margin-right: 27px;
    float: left;
    text-decoration: none;
  }